.edit-data-cnv-primary {
  height:100%;
  flex-direction:column;
}

.mat-card-cnv-primary {
  height:70%;
  width:90%;
}

.mat-card-cnv-secondary {
  flex-direction: row;
  margin-top: 1%;
  width:90%;
  padding-bottom:3%;
}

.data-primary-cnv-form {
  width: 100%;
  flex-direction: column;
}

.data-primary-cnv-fields {
  align-items: unset;
}

.checkbox-align-left {
  width:50%;
  margin-right: auto;
}

.data-cnv-gene-fields {
  margin-top: 2%;
}